/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body {
  font-size: 10px;
  font-family: "Microsoft Yahei";
  line-height: 1.5;
  max-width: 750px;
  margin: 0 auto;
}

/* line 15, ../sass/style.scss */
.fl {
  float: left;
}

/* line 18, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/style.scss */
.bg_gray {
  background-color: #ebebeb;
}

/* line 25, ../sass/style.scss */
.form-area {
  margin-top: 1em;
  font-size: 1.5em;
  border-top: 1px solid #cdcdcd;
}

/* line 30, ../sass/style.scss */
.form-section {
  background-color: #fff;
  padding: 0 10px;
  border-bottom: 1px solid #cdcdcd;
}
/* line 34, ../sass/style.scss */
.form-section .input-label {
  width: 24%;
  padding-left: 0;
}

/* line 40, ../sass/style.scss */
.form-section-t {
  margin-top: .5em;
}

/* line 43, ../sass/style.scss */
.list-nav {
  border-bottom: 1px solid #c9c8c9;
  background-color: #fff;
  font-size: 0;
  /* compatable for chrome/ opera*/
  letter-spacing: -7.5px;
  /*compatable for safari/ opera */
}

/* line 49, ../sass/style.scss */
.list-nav-item {
  display: inline-block;
  /* compatable for ie6/ie7*/
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  width: 25%;
  font-size: 15px;
  line-height: 2;
  padding: .5em 0 0;
  text-align: center;
}
/* line 62, ../sass/style.scss */
.list-nav-item span {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: #464646;
  padding-bottom: .5em;
}
/* line 70, ../sass/style.scss */
.list-nav-item.selected span {
  color: #008de7;
  padding-bottom: .25em;
  border-bottom: .25em solid #07a0e7;
}

/* line 79, ../sass/style.scss */
.list-title {
  background-color: #fff;
  font-size: 1.5em;
  padding: 0 10px;
  line-height: 3;
}

/* line 85, ../sass/style.scss */
.list-tit {
  position: relative;
  background-color: #fff;
  line-height: 3;
  padding: 0 10px;
  border-bottom: 1px solid #d7d7d7;
  zoom: 1;
}
/* line 93, ../sass/style.scss */
.list-tit .titattr {
  padding-left: 10px;
}
/* line 96, ../sass/style.scss */
.list-tit .toggle, .list-tit .shutdown {
  position: absolute;
  right: 10px;
  top: 0;
  display: inline-block;
  height: 3em;
  width: 20%;
  background: url(../images/arrow-down.png) center no-repeat;
}
/* line 106, ../sass/style.scss */
.list-tit .shutdown {
  background: url(../images/arrow-up.png) center no-repeat;
}

/* line 111, ../sass/style.scss */
.ucenter .list-tit {
  margin: 0 -10px;
  line-height: 1.5;
  padding: 1em 0;
}
/* line 115, ../sass/style.scss */
.ucenter .list-tit .total, .ucenter .list-tit .tbtn {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 80%;
}
/* line 121, ../sass/style.scss */
.ucenter .list-tit .tbtn {
  width: 20%;
  font-size: 1.25em;
  padding: .25em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #4ebc1d;
}
/* line 130, ../sass/style.scss */
.ucenter .list-tit .additional {
  width: 50%;
  font-size: .8em;
  color: #a0a0a0;
  font-style: normal;
}
/* line 136, ../sass/style.scss */
.ucenter .list-tit .arrow {
  display: inline-block;
  width: 20%;
  height: 3em;
  background: url(../images/arrow-rgt.png) center no-repeat;
  vertical-align: middle;
}

/* line 144, ../sass/style.scss */
.ucenter .list-tit-inner {
  padding: 0 10px;
}

/* line 147, ../sass/style.scss */
.list-con {
  text-align: center;
}

/* line 150, ../sass/style.scss */
.detaillist {
  margin: 0 -10px;
}

/* line 154, ../sass/style.scss */
.detaillist .list-con {
  padding: 0 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d7d7d7;
  zoom: 1;
}

/* line 163, ../sass/style.scss */
.list-row {
  border-bottom: 1px solid #d7d7d7;
  font-size: 0;
  letter-spacing: -7.5px;
}
/* line 167, ../sass/style.scss */
.list-row span {
  font-size: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /*for ie6+7*/
  letter-spacing: normal;
  line-height: 3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 178, ../sass/style.scss */
.list-row span.list-row-attr {
  width: 80%;
}
/* line 181, ../sass/style.scss */
.list-row span.list-row-date {
  width: 20%;
}
/* line 184, ../sass/style.scss */
.list-row span.list-row-uname {
  width: 60%;
}
/* line 187, ../sass/style.scss */
.list-row span.list-row-total {
  width: 20%;
}
/* line 190, ../sass/style.scss */
.list-row span.list-row-income {
  width: 30%;
}
/* line 193, ../sass/style.scss */
.list-row span.list-row-totalincome {
  width: 60%;
}
/* line 196, ../sass/style.scss */
.list-row span.list-row-type {
  width: 30%;
}
/* line 199, ../sass/style.scss */
.list-row span.list-row-manip {
  width: 20%;
}
/* line 202, ../sass/style.scss */
.list-row span.list-row-arrow {
  width: 20%;
  height: 3em;
  background: url(../images/arrow-rgt.png) center no-repeat;
}
/* line 208, ../sass/style.scss */
.list-row.list-row-last, .list-row:last-child {
  border-bottom: none;
}

/* line 212, ../sass/style.scss */
.list-con .list-row-last, .list-tab .list-row-last {
  border-bottom: none;
}

/* line 215, ../sass/style.scss */
.monthly-totalnum, .yearly-totalnum, .curr-totalnum {
  color: #3f8d1c;
  font-size: 1.3333em;
  line-height: normal;
}

/* line 220, ../sass/style.scss */
.input-row {
  color: #282828;
  line-height: 3;
  border-bottom: 1px solid #d7d7d7;
  background-color: #fff;
}
/* line 225, ../sass/style.scss */
.input-row span {
  color: #282828;
}
/* line 227, ../sass/style.scss */
.input-row span.input-totalnum {
  color: #3f8d1c;
  font-size: 1.3333em;
  line-height: normal;
}
/* line 233, ../sass/style.scss */
.input-row.input-row-btm {
  border-bottom: 0;
}
/* line 236, ../sass/style.scss */
.input-row.input-row-last {
  font-size: 1.06667em;
  border-top: 1px solid #d7d7d7;
  margin: 1em 0;
  text-align: center;
}
/* line 241, ../sass/style.scss */
.input-row.input-row-last a {
  color: #007cd3;
}

/* line 246, ../sass/style.scss */
.input-label, .input-txt {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

/* line 251, ../sass/style.scss */
.input-label {
  width: 20%;
  padding-left: 10px;
}

/* line 256, ../sass/style.scss */
.input-txt {
  width: 70%;
  font-family: "Microsoft Yahei";
  font-size: 15px;
  line-height: 3;
  color: #b1b1b1;
  border: none;
  outline: none;
}

/* line 265, ../sass/style.scss */
.submit-btn {
  margin: 4em 10px 0;
  padding: 0 10px;
  font-family: simHei;
  text-align: center;
  background-color: #029bd5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 272, ../sass/style.scss */
.submit-btn span {
  display: inline-block;
  color: #fff;
  font-size: 1.7em;
  padding: .5em 2em;
}

/* line 279, ../sass/style.scss */
.info {
  padding: 1em;
  overflow: hidden;
  zoom: 1;
}

/* line 284, ../sass/style.scss */
.info img {
  width: 30%;
  float: left;
  border: 1px solid #e6e6e6;
  margin-right: 1em;
}

/* line 290, ../sass/style.scss */
.info p {
  padding: .5em 0;
  color: #000;
  font-size: 1.5em;
}
/* line 294, ../sass/style.scss */
.info p.name {
  font-size: 1.7em;
  padding: 1em 0 0;
}
/* line 298, ../sass/style.scss */
.info p.bind {
  padding-top: 1.5em;
}
/* line 301, ../sass/style.scss */
.info p .addbtn {
  color: #007cd3;
  text-decoration: underline;
}
