@charset "utf-8";
/* CSS Document */
/* -- 基础部分 start--*/
*{padding:0; margin:0;}
body{
  font:normal 14px "hiragino Sans GB W3",Geneva, Arial, Helvetica, sans-serif;
  background:#f4f4f4;
  color:#666;
  line-height:1.5;
}
img{border:0px;vertical-align:middle;}
button{border:none;}
span,p,a,select,input,img,button{vertical-align:middle;}
ul li,ol li{list-style-type:none;text-align:left;}
h1 {font-size:28px;}
h2 {font-size:24px;}
h3 {font-size:20px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:14px;}
td, th {vertical-align: top;}
em, strong{font-style: normal;}
.c {clear:both;}
.fl { float:left;display:inline-block;}
.fr { float:right;display:inline-block;}
.tc{ text-align: center;}
.w100{width: 100%;}
.rel{position: relative;}
input{
	font:"hiragino Sans GB W3",Geneva, Arial, Helvetica, sans-serif;
	-webkit-tap-highlight-color:transparent;
	border: none;
	border-radius: 0
}


.bg_orange{background:#ffb902;}
.bg_green{background:#88d316;}
.bg_blue{background:#004d88;}
.bg_gray{background:#748d9a;}
.contentbg_fff{background:#fff;}	

.text_999{
	color:#999;
	}
.text_666{
	color:#666;
	}
.text_blue{
	color:#004d88;
	}
.font16_bold{
	font-size:16px;
	font-weight:bold;
	}
	
.marginbottom10{margin-bottom:10px;}
.marginbottom45{margin-bottom:45px;}
.paddingbottom45{padding-bottom:45px;}

.width50{width:50px;}

a{
	display:inline-block;
	}
a:link,a:visited{
	color:#004d88; 
	text-decoration: none;
	}
a:hover{
	color:#88d316; 
	text-decoration: none;
	}
.link_gray:link,.link_gray:visited{
	color:#999;
	}
.link_gray:hover{
	color:#88d316;
	}
.link_fff:link,.link_fff:visited{
	color:#fff;
	}
.link_fff:hover{
	color:#fff;
	}
	
.clearfix:after{
	content:"."; 
	display:block; 
	height:0; 
	visibility:hidden; 
	clear:both; 
	}
.clearfix {
	*zoom:1;
	}
	
	
	
	
/* -- 基础部分 end --*/


.header {
	position: fixed;
	top:0;
	left: 0;
	height: 44px;
	width: 100%;
	z-index: 10;
	/*padding:0px 10px;*/
	background:#1a9bf1;
	}
.icon{
	background:url(../images/icon.png) no-repeat;
	background-size:100px 500px;
	display:inline-block;
	width:25px;
	height:25px;
	background-position:-50px -250px;
	vertical-align: middle;
}
.icon_left{
	float:left;
	display:inline;
	margin:8px;
	}
.icon_right{
	float:right;
	display:inline;
	margin:8px;
	}
.title {
	width: 80%;
	color: #fff;
	text-align: center;
	line-height:44px; 
	height :44px;
	margin:0 auto;
	}
.icon_back{
	background-position:0px 0px;
	}
.icon_edit{
	background-position:5px -50px;
	}
.icon_finish.icon_right{
	background : none;
	color: #FFF;
	}



.content {
	/*
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	width:100%;*/
	-webkit-overflow-scrolling: touch;
	/*margin-bottom:45px;*/
	padding-bottom:50px;
	}

.content > * {
  -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
	}

.content2 {
	/*position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;*/
	-webkit-overflow-scrolling: touch;
	width:100%;
	padding-top:78px;
	}

.content2 > * {
  -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
	}



.header ~ .content {
	padding-top: 44px;
	}
	

	
	
.bg_fff{
	background:#fff;
	border-top:#dcdcdc solid 1px;
	border-bottom:#dcdcdc solid 1px;
	padding:10px;
	}
.bg_fff_margin10{
	margin:10px;
	background:#fff;
	border:#dcdcdc solid 1px;
	padding:10px;
	}	

.resume_cardbox{
	width:100%;
	float:left;
	}
.resume_card{
	margin-left:80px;
	}
.resume_card dl dd.resume_card_icon{
	margin:6px 0px;
	}
.icon_copy_resume{
	border:#dcdcdc solid 1px;
	padding:0px 8px;
	border-radius:3px 0px 0px 3px;
	float:left; 
	height:30px; 
	line-height:30px;
	}
.icon_copy_resume .icon{
	background-position:5px -77px;
	}
.icon_copy_resume:hover .icon{
	background-position:-20px -77px;
	}
.icon_delete_resume{
	border:#dcdcdc solid 1px;
	border-left:none;
	padding:0px 8px;
	border-radius:0px 3px 3px 0px;
	float:left; 
	height:30px; 
	line-height:30px;
	}
.icon_delete_resume .icon{
	background-position:5px -102px;
	}
.icon_delete_resume:hover .icon{
	background-position:-20px -102px;
	}
.resume_loading_value li{
	float:left;
	/*width:20%;*/
	}
.resume_loading_value li.loading{
	width:60%;
	}
.resume_loading_value li.loading div{
	background:#ccc; 
	height:8px;
	margin:5px 5px 0px; border-radius:3px;
	}
.loading div span.loading_value, .loading_value{
	background:#88d316; 
	display:inline-block; height:8px; border-radius:3px;
	}	
.loading_value1{width:1%;}
.loading_value2{width:2%;}
.loading_value3{width:3%;}
.loading_value4{width:4%;}
.loading_value5{width:5%;}
.loading_value6{width:6%;}
.loading_value7{width:7%;}
.loading_value8{width:8%;}
.loading_value9{width:9%;}
.loading_value10{width:10%;}
.loading_value11{width:11%;}
.loading_value12{width:12%;}
.loading_value13{width:13%;}
.loading_value14{width:14%;}
.loading_value15{width:15%;}
.loading_value16{width:16%;}
.loading_value17{width:17%;}
.loading_value18{width:18%;}
.loading_value19{width:19%;}
.loading_value20{width:20%;}
.loading_value21{width:21%;}
.loading_value22{width:22%;}
.loading_value23{width:23%;}
.loading_value24{width:24%;}
.loading_value25{width:25%;}
.loading_value26{width:26%;}
.loading_value27{width:27%;}
.loading_value28{width:28%;}
.loading_value29{width:29%;}
.loading_value30{width:30%;}
.loading_value31{width:31%;}
.loading_value32{width:32%;}
.loading_value33{width:33%;}
.loading_value34{width:34%;}
.loading_value35{width:35%;}
.loading_value36{width:36%;}
.loading_value37{width:37%;}
.loading_value38{width:38%;}
.loading_value39{width:39%;}
.loading_value40{width:40%;}
.loading_value41{width:41%;}
.loading_value42{width:42%;}
.loading_value43{width:43%;}
.loading_value44{width:44%;}
.loading_value45{width:45%;}
.loading_value46{width:46%;}
.loading_value47{width:47%;}
.loading_value48{width:48%;}
.loading_value49{width:49%;}
.loading_value50{width:50%;}
.loading_value51{width:51%;}
.loading_value52{width:52%;}
.loading_value53{width:53%;}
.loading_value54{width:54%;}
.loading_value55{width:55%;}
.loading_value56{width:56%;}
.loading_value57{width:57%;}
.loading_value58{width:58%;}
.loading_value59{width:59%;}
.loading_value60{width:60%;}
.loading_value61{width:61%;}
.loading_value62{width:62%;}
.loading_value63{width:63%;}
.loading_value64{width:64%;}
.loading_value65{width:65%;}
.loading_value66{width:66%;}
.loading_value67{width:67%;}
.loading_value68{width:68%;}
.loading_value69{width:69%;}
.loading_value70{width:70%;}
.loading_value71{width:71%;}
.loading_value72{width:72%;}
.loading_value73{width:73%;}
.loading_value74{width:74%;}
.loading_value75{width:75%;}
.loading_value76{width:76%;}
.loading_value77{width:77%;}
.loading_value78{width:78%;}
.loading_value79{width:79%;}
.loading_value80{width:80%;}
.loading_value81{width:81%;}
.loading_value82{width:82%;}
.loading_value83{width:83%;}
.loading_value84{width:84%;}
.loading_value85{width:85%;}
.loading_value86{width:86%;}
.loading_value87{width:87%;}
.loading_value88{width:88%;}
.loading_value89{width:89%;}
.loading_value90{width:90%;}
.loading_value91{width:91%;}
.loading_value92{width:92%;}
.loading_value93{width:93%;}
.loading_value94{width:94%;}
.loading_value95{width:95%;}
.loading_value96{width:96%;}
.loading_value97{width:97%;}
.loading_value98{width:98%;}
.loading_value99{width:99%;}
.loading_value100{width:100%;}
.resume_cardimg{
	width:70px;
	height:84px; padding:1px; background:#e9e9e9;
	}
.resume_cardimg{
	float:left;
	width:70px;
	height:84px;
	border:#dcdcdc solid 1px;
	margin-left:-100%;
	}


.title_resume_info{
	border-bottom:#dcdcdc solid 1px;
	padding-bottom:10px;
	margin-bottom:10px;
	font-size:18px;
	}	
.title_resume_info span{
	margin-right:10px;
	border-radius:3px;
	}
.icon_resume_info , .icon_set_11 {
	background-position:0px -200px;
	}
.icon_resume_work , .icon_set_19 {
	background-position:-25px -200px;
	}
.title_resume_info a{
	float:right;
	display:inline-block;
	}
	
.post_info li{
	float:left;
	display:inline;
	width:50%;
	min-height:25px;
	line-height:25px;
	}
.post_info li label{
	color:#999;
	margin-right:10px;
	}
.resume_pers_info{
	}
.resume_pers_info li{
	float:left;
	display:inline;
	width:98%;
	min-height:25px;
	line-height:25px;
	}
.resume_pers_info li label{
	color:#999;
	margin-right:10px;
	/*display:inline-block;
	width:50px;*/
	}
.resume_user_info{
	}
.resume_user_info li{
	float:left;
	display:inline;
	width:98%;
	min-height:25px;
	line-height:25px;
	}
.resume_user_info li label{
	color:#999;
	margin-right:10px;
	/*display:inline-block;
	width:50px;*/
	}
.resume_work{
	width:100%;
	}	
.resume_worklist{
	width:100%;
	float:left;
	}
.resume_worklist dl{
	margin-left:5px;
	padding:0px 0px 10px 20px;
	border-left:#dcdcdc solid 1px;
	}
.resume_worklist dl.noline{
	border-left:none;
	padding:0px 0px 0px 0px;
	}
.resume_worklist dl dt{
	/*margin-bottom:5px;
	color:#999;*/
	}
.resume_worklist dl dd{
	margin:10px 0px 0px;
	}
.timeline{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float:left; 
	margin-left:-100%;
	background:#4763ca;
	box-shadow: 0 0 0 2px #a6b7f7;
	}
.timeline_set_19{
	background:#f39800;
	box-shadow: 0 0 0 2px #ffd793;
}	
.icon_modify{
	background-position:0px -275px;
	}
.icon_delete{
	background-position:-25px -275px;
	margin-left:10px;
	}
.resume_worklist dl dd span{
	font-size:16px;
	}
.icon_resume_education , .icon_set_14{
	background-position:0px -225px;
	}
.timeline_education , .timeline_set_14{
	background:#004d88;
	box-shadow: 0 0 0 2px #c2e0f7;
	}
.icon_resume_job, .icon_set_13{
	background-position:-25px -225px;
	}
.icon_resume_train, .icon_set_15{
	background-position:0px -250px;
	}
.timeline_train, .timeline_set_15{
	background:#d22874;
	box-shadow: 0 0 0 2px #feb6d6;
	}
/*.resume_train li.describe{
	width:100%;
	height:100%;
	}*/
.icon_set_12{
	background-position:-75px -250px;
	}
.icon_set_16{
	background-position:-50px -350px;
}
.icon_set_17{
	background-position:-50px -325px;
}
.icon_set_18{
	background-position:-50px -300px;
}
.icon_set_20{
	background-position:-50px -200px;
}
.icon_set_21{
	background-position:-75px -225px;
}
.icon_set_40{
	background-position:-75px -200px;
}
.icon_set_44{
	background-position:-50px -275px;
}
.icon_set_45{
	background-position:-75px -275px;
}
.icon_set_46{
	background-position:-50px -225px;
}
.icon_resume_language, .icon_set_43{
	background-position:-25px -250px;
	}
.resume_language dl dd span.text_999{
	font-size:small;
	font-size:14x;
	}
.timeline_language, .timeline_set_43{
	background:#a98c27;
	box-shadow: 0 0 0 2px #e7d699;
	}
.timeline_set_12{
	background:#ed3737;
	box-shadow: 0 0 0 2px #eda2a2;
}
.timeline_set_16{
	background:#46bc62;
	box-shadow: 0 0 0 2px #b3f2c2;
}
.timeline_set_17{
	background:#14ae72;
	box-shadow: 0 0 0 2px #81f9ca;
	}
.timeline_set_18	{
	background:#00aafc;
	box-shadow: 0 0 0 2px #c2e9fc;
}
.timeline_set_20{
	background:#ffa200;
	box-shadow: 0 0 0 2px #ffd997;
}
.timeline_set_21{
	background:#de0350;
	box-shadow: 0 0 0 2px #f378a3;
}
.timeline_set_40{
	background:#573f89;
	box-shadow: 0 0 0 2px #b094eb;
}
.timeline_set_44{
	background:#f96a08;
	box-shadow: 0 0 0 2px #f9c4a0;
}
.timeline_set_45{
	background:#258ee5;
	box-shadow: 0 0 0 2px #aed4f3;
}
.timeline_set_46{
	background:#0077b5;
	box-shadow: 0 0 0 2px #bfe6fb;
}
.btn_add{
	text-align:center;
	}
.btn_add a{
	border:#dcdcdc 1px solid;
	border-radius:3px;
	font-size:16px;
	padding:5px 0px;
	min-width:100px;
	display:inline-block; 
	}

.add_resume{
	text-align:center;
	font-size:16px;
	}
.add_resume span{
	font-weight:bold;
	font-size:18px;
	}
.resumelist{
	padding:0px;
	position:relative;
	}
.resumelist dl{
	margin:10px;
	}
.icon_arrow{
	background-position:0px -148px;
	}
.icon_arrow:hover{
	background-position:-25px -148px;
	}
.resumelist_btn{
	border-top:#dcdcdc solid 1px;
	background:#fff;
	padding:10px 0px;
	}
.resumelist_btn a{
	float:right;
	display:inline;
	margin:0px 10px;
	}
.icon_copy .icon{
	background-position:5px -77px;
	}
.icon_copy:hover .icon{
	background-position:-20px -77px;
	}
.icon_edit2 .icon{
	background-position:-55px -78px;
	}
.icon_edit2:hover .icon{
	background-position:-79px -78px;
	}
.icon_preview .icon{
	background-position:5px -126px;
	}
.icon_preview:hover .icon{
	background-position:-20px -126px;
	}
.icon_del .icon{
	background-position:5px -102px;
	}
.icon_del:hover .icon{
	background-position:-20px -102px;
	}
.msg_interview{
	color:#666;
	}
.msg_interview span{
	color:#f39800;
	}
.interview_state{
	border-radius:3px;
	padding:2px 10px;
	font-size:12px;
	color:#fff;
	}
.icon_apply .icon{
	background-position:-20px -475px;
	}
.icon_apply:link,.icon_apply:visited,.icon_apply:hover{
	color:#f39800;
	float:left;
	}
.job_info li{
	border-top:#dcdcdc solid 1px;
	padding:10px 0px;
	}
.job_info li.company_address{
	width:100%; 
	height:auto;
	}	
.noresume_remind{
	text-align:center;
	width:100%
	}
.noresume_remind dt{
	background:url(../images/remindimg.jpg) no-repeat center center;
	background-size:150px 150px;
	height:150px;
	}
.noresume_remind{
	margin-top:20%;
	}
.noresume_remind dd.text_999{
	font-size:20px;
	margin:20px 0px;
	}
.noresume_remind dd a.bg_green{
	border-radius:3px;
	padding:5px 15px;
	}
.noresume_remind dd a.bg_green span{
	font-weight:bold;
	}	
	
.noresume_smile{
	text-align:center;
	width:100%
	}
.noresume_smile dt{
	background:url(../images/smile.jpg) no-repeat center center;
	background-size:150px 150px;
	height:150px;
	}
.noresume_smile{
	margin-top:20%;
	}
.noresume_smile dd.text_999{
	font-size:20px;
	margin:20px 0px;
	}
.noresume_smile dd a.bg_green{
	border-radius:3px;
	padding:5px 15px;
	}
.noresume_smile dd a.bg_green span{
	font-weight:bold;
	}	


	
	
	
.footer{
	position:fixed;
	bottom:0;
	left:0;
	z-index:1000;
	height:50px;
	width:100%; 
	background:#fff;
	/*filter:alpha(opacity=20);
	-moz-opacity:0.8;
	opacity: 0.8;*/
	border-top:#ddd 1px solid;
	}
.btn_footer{
	/*width:100%;*/
	margin:0px 10px;
	}
.btn_footer ul li{
	float:left;
	display:inline;
	width:50%; text-align:center;
	}
.btn_footer ul li a{
	/*background:#88d316;*/
	border-radius:3px;
	width:95%;
	height:36px;
	line-height:36px;
	margin:7px 0px;
	text-align:center;
	}
.icon_weixin{
	background:#88d316;
	}	
.icon_weixin span.icon{
	background-position:-12px -402px;
	}
.icon_email{
	background:#004d88;
	}
.icon_email span.icon{
	background-position:-34px -401px;
	}
.btn_footer_job ul li{
	width:33%;
	}
.icon_apply_job{
	background:#1a9bf1;
	}	
.icon_apply_job .icon{
	background-position:8px -178px;
	}
.icon_collect{
	background:#0dca85;
	}
.icon_collect .icon{
	background-position:-31px -178px;
	}

.icon_delete_collect{
	background:#748d9a;
	}
.icon_delete_collect .icon{
	background-position:-31px -178px;
	position:relative;
	top:-1px;
}

.icon_share{
	background:#f19e1a;
	}
.icon_share .icon{
	background-position:-13px -178px;
	}
	
.btn_widthall ul li{
	width:100%;
	}
.icon_savebtn .icon{
	background-position:0px -475px;
	}



	
	
	
/*美群/ 简历管理－无简历状态/ 职位列表 / 导入简历 / 编辑个人基本信息  样式*/

/*职位列表头部 start*/
.header2 {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	top:0px;
	height: 24px;
	padding:10px 10px;
	padding-left:130px;
	background:#1a9bf1;
	border-bottom:1px solid #004579;
	}
/*.header2 ~ .content {
	padding-top: 68px;
	}*/
.header2 .searchdiv{
	height:24px;
	background:#fff;
	border-radius:3px;
	padding-right:32px;
	position:relative;
}
.header2 .searchdiv input{
	width:100%;
	height:20px;
	line-height:18px;
	border:0px;
	margin-top:2px;
	color:#666;
	font-size:14px;
	padding-left:6px;
}
.header2 .searchdiv .searchBtn{
	width:32px;
	height:24px;
	border-radius:0px 3px 3px 0px;
	position:absolute;
	top:0px;
	right:0px;
	background:#88d316;
}
.header2 .searchdiv .searchBtn span{
	width:24px;
	height:24px;
	display:inline-block;
	background:url(../images/icon.png) no-repeat -25px -376px;
	background-size:100px 500px;
	margin-left:4px;
}
.header2 .hire_type{
	position:absolute;
	width:115px;
	left:10px;
	height:24px;
	top:10px;
	font-size:18px;
	color:#fff;
	background:none;
	border:none;
}
/*职位列表头部 end*/

/*-------------------select start-------------*/

.select_positon{
	background:#1a9bf1;
	text-align:center;
	height:32px;
	border-top:1px solid #60b7f1; 
	left:0px;
	position:fixed;
	top:44px;
	border-collapse: collapse;
}
.select_positon td{
	border-top:1px solid #60b7f1;
}

.select_positon select{
	width:100px;
	background:none;
	border:0px;
	color:#99b7cf;
	font-size:16px;
	margin-top:3px;
	text-align:center;
	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;   
    	background:url(../images/icon_select.png) no-repeat right center;
    	background-size:10px 5px;
}

/*------select end--------*/



.icon_none{
	display:inline-block;
	width:25px;
	height:25px;
	background:none;
}
.icon_save{
	background-position:5px -24px;
}
.icon_51job{
	background-position:0px -300px;
}
.icon_zhilian{
	background-position:-25px -300px;
}
.icon_yingcai{
	background-position:0px -325px;
}
.icon_linkedin{
	background-position:-25px -325px;
}
.icon_lieping{
	background-position:0px -350px;
}
.icon_newResumePC{
	background-position:-25px -350px;
}
.icon_newResume{
	background-position:-75px -300px;
}
.icon_quickResume{
	background-position:0px -375px;
}
.margintop10{
	margin-top:10px;
}
.content span.content_title{
	margin-left:20px;
	margin-right:10px;
	color:#999;
}


.item_warn{padding-top: 3px;}

.bg_fff_form{
	background:#fff;
	border:#dcdcdc solid 1px;
	padding:10px;
	margin:10px;
	padding-left:80px;
	position:relative;
}
.bg_fff_form_long{
	background:#fff;
	border:#dcdcdc solid 1px;
	padding:10px;
	margin:10px;
	position:relative;
}

.bg_fff_form.field_item_date {
	padding-left:80px;
	padding-right:80px;
}
.bg_fff_form span,.bg_fff_form120 span{ color:#999; position:absolute; z-index:2; left:10px;}
.bg_fff_form span.fr,.bg_fff_form120 span.fr{position:absolute; z-index:2;left:auto ; right: 10px;}
.bg_fff_form .itemName,.bg_fff_form120 .itemName{ color:#999; position:absolute; z-index:2;top:0; left:10px;width: 70px;height:40px;}
.bg_fff_form_long .itemName { color:#999; padding-bottom:10px;border-bottom:1px dashed #e8e8e8; margin-bottom:10px;}
.bg_fff_form_long label{line-height: 22px;display:inline-block;}
.bg_fff_form .itemName td,.bg_fff_form120 .itemName td{height:40px;width: 70px;vertical-align: middle;text-align: left;line-height: 16px; word-break:break-all;}
.bg_fff_form .itemName.fr,.bg_fff_form120 .itemName.fr{position:absolute; z-index:2;left:auto ; right: 10px;}
.bg_fff_form input,.bg_fff_form select,.bg_fff_form120 select{
	width:100%;
	border:0px;
	color:#666;
	line-height:22px;
	font-size:14px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.bg_fff_form2{
	background:#fff;
	border:#dcdcdc solid 1px;
	padding:10px;
	margin:10px;
	overflow: hidden;
}
.bg_fff_form2 textarea{
	width:100%;
	display:inline-block;
	border:0px;
	min-height:80px;
	font-size:14px;
	line-height:22px;
	color:#666;
}
.bg_fff_form120{
	background:#fff;
	border:#dcdcdc solid 1px;
	padding:10px;
	margin:10px;
	padding-left:80px;
	position:relative;
	margin-right:120px;
	position:relative;
}



.bg_fff_form3{
	background:#fff;
	border:#dcdcdc solid 1px;
	padding:10px;
	margin:10px;
	padding-left:35px;
	position:relative;
}
.apply_tb .bg_fff_form3{
	padding-left: 10px;
}
.bg_fff_form3 .position_ul .position_title{
	display:inline-block;
	width:80%;
	color:#666;
	font-size:18px;
	text-align:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height:24px;
}
.bg_fff_form3 .position_ul .apply_title{
	width: 100%;
}
.position_ul{
	position: relative;
}
.bg_fff_form3 .position_ul .position_date{
	display:inline-block;
	width:20%;
	color:#999;
	color:14px;
	text-align:right;}
.bg_fff_form3 .position_ul .position_place{
	color:#999;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height:24px;
}

.bg_fff_form3 .position_ul .position_stat{
	position: absolute;
	bottom: 20px;
	right: 0;
	display: block;
	width: 60px;
	line-height: 21px;
	border-radius: 5px;
	color: #fff;
	padding: 2px 5px;
	cursor: pointer;
	background-color: #0dca85;
	text-align: center;
}
.bg_fff_form3 .position_ul .position_stat.checked{
	background-color: #fb0;
}
.bg_fff_form3 .position_ul .position_stat.unchecked{
	background-color: #f00;
}
.icon_choose, .icon_sel{
	position:absolute;
	width:18px;
	height:18px;
	/*background:#000;*/
	top:14px;
	left:10px;
}

.icon_choose a,.icon_sel a{
	display:inline-block;
	width:18px;
	height:18px;
	background:url(../images/icon.png) no-repeat;
	background-size:100px 500px;
}
.icon_choose a.icon_chooseNormal{
	background-position:0 -453px;
}
.icon_choose a.icon_disabled{
	background-position:-50px -453px;
}
.icon_choose a.icon_chosen{
	background-position:-25px -453px;
}
.icon_choose_apply a.icon_chosen, .icon_choose_apply a.icon_chooseNormal{
	vertical-align: top;
}
.icon_sel .apply_type{
	margin-top: -7px;
}
.icon_applyAll{
	background:#1a9bf1;
	}	
.icon_applyAll span.icon{
	background-position:4px -178px;
	}
.icon_likeposition{
	background:#0dca85;
	}
.icon_likeposition span.icon{
	background-position:-35px -178px;
	}

.apply_btn{
	text-align: center; 
	color: #666;
}
.apply_btn a{
	color: #666;
	font-weight: bold;
}
.apply_num{
	color: #fb0;
	font-size: 1.25em;
	font-weight: bold;
	vertical-align: middle;
}
.hd{
	background-color: #0b4e87;
}
.hd-tabs{
	margin: 5px auto 0;
	padding: 0 2px;
	overflow: hidden;
	line-height: 32px;
}
.hd-tabs a{
	display: inline-block;
	width: 33.3%;
	float: left;
	color: #fff;
	text-align: center;
	border: 1px solid #1a9bf1;
	border-width: 1px 0 1px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hd-tabs a.curr{
	background-color: #1a9bf1;
}
.hd-tabs a.hd-tabs-left{
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.hd-tabs a.hd-tabs-rgt{
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #1a9bf1;
}

.resume_summ{
	padding: 0 0 5px;
	border-bottom: 1px solid #ccc;
}
.resume_summ p{
	margin: 5px 0;
}
.resume_mark{
	position: absolute;
	left: -13px;
	top: 0;
	display: inline-block;
	width: 30px;
	height: 20px;
	padding: 0 3px 0 5px;
	background-color: #00c700;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.resume_tit{
	padding-left: 30px;
}
.resume_progress .bar{
	display: inline-block;
	position: relative;	
	width: 50%;
	height: 6px;
	border-radius: 3px;
	margin: 0 5px;
	background-color: #ccc;
}
.resume_progress .bar .loading_value{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	border-radius: 3px 0 0 3px;
	background-color: #00c700;
}
.resume_progress .bar .loading_value100{
	border-radius: 3px;
}
.resume_menu{
	padding: 10px 0 0;
}



.h4_title{
	color:#666;
}

.title_resume_info_last{
	font-size:18px;
	}
.title_resume_info_last span{
	margin-right:10px;
	border-radius:3px;
	}

.get_resumeList{font-size:14px; border:1px solid #dcdcdc;display:inline-block;width:100px; text-align:center; padding-top:9px; padding-bottom:9px; position:absolute; z-index:2; right:-110px; top:-1px;}

.btn_greenFull{
	height:30px;
	line-height:30px;
	margin:10px;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	text-align:center;
	background:#88d316;
}

.innerul{
	margin:10px;
	/*padding:10px;*/
	border:1px solid #dcdcdc;
}
.innerul li{
	list-style:disc;
	margin:10px;
	margin-left:28px;
}


/* by developer */
span.mark_need {
	color: red;
	vertical-align:middle;
	line-height:26px;
	height:26px;
}
span.icon_unfinish {
	background:url(../../images/resume/index_12.jpg) no-repeat center center;
	display:inline-block;
	vertical-align:middle;
	line-height:26px;
	height:26px;
	width:15px;
}
span.icon_unfinish {
	background:url(../../images/resume/no1.jpg) no-repeat center center;
	display:inline-block;
	vertical-align:middle;
	line-height:26px;
	height:26px;
	width:15px;
}
span.icon_finish {
	background:url(../../images/resume/yes1.jpg) no-repeat center center;
	display:inline-block;
	vertical-align:middle;
	line-height:26px;
	height:26px;
	width:15px;
}

/*已选择职位*/
.selected_job .bg_fff_form3{
	border:none;
	margin:0px;
	border-bottom:#dcdcdc solid 1px;
	}
.selected_job  .border0{
	border:none;
    }
 
 
 
/** 自定义弹窗  START **/
.popBg {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 100%;left: 0;line-height: 100%;position: fixed; top: 0;width: 100%;z-index: 20000;
	display:none;
}
.noticePop{background:#fff; z-index:30000; position:absolute; width:90%; left:5%;top:150px;}
.noticePop .noticeTitle{background:#014d89;padding:10px;font-size:14px; color:#fff;}
.noticePop .noticeTitle a.close{width:14px; height:14px; padding:2px; background:url(../images/icon.png) -49px -479px; background-size:100px; display:inline-block; float:right;}
.noticePop .noticeMesg{padding:10px; color:#333; padding-bottom:20px; text-align:center;}
.noticePop .popBtn{ border-top:1px solid #ddd; padding-top:10px; padding-bottom:10px;text-align:center; color:#666; background:#fcfcfc; font-size:12px;}
.noticePop .btnUl {list-style:none; margin:0;padding:0; /*background:#FCFCFC; border-top:1px solid #ddd;*/}
.noticePop .btnUl li {width:49%; text-align: center; padding:10px 0; display:inline-block; color:#666;}
.noticePop .btnUl li.btnLi1{/*border-right:1px solid #DDD;*/}
.noticePop .btnUl li div{ width:90%; border-radius:3px; border:1px solid #eee; margin:0 auto; line-height:30px;background:#f8f8f8; color:#666;}



/* 弹出窗口-输入 */
.inputPop{background:#fff; z-index:30000; position:absolute; width:90%; left:5%;top:150px; box-shadow:1px 5px 5px #555;}
.inputPop .noticeTitle{background:#014d89;padding:10px;font-size:14px; color:#fff;}
.inputPop .noticeTitle a.close{width:14px; height:14px; padding:2px; background:url(../images/icon.png) -49px -479px; background-size:100px; display:inline-block; float:right;}
.inputPop .noticeMesg{padding:10px; color:#333;}
.inputPop .popBtn td{ border-top:1px solid #ddd; padding-top:10px; padding-bottom:10px;text-align:center; color:#666; background:#fcfcfc; font-size:12px;}
.inputPop .pop_input{ width:100%; line-height:28px; color:#333; font-size:14px; border:1px solid #ddd; margin-top:10px;box-shadow:inset 1px 1px 5px #f1f1f1;}
.inputPop .pop_ErrorMsg{ color: #ff4949;margin-top: 10px;line-height: 30px;}
.inputPop .btnUl {list-style:none; margin:0;padding:0; /*background:#FCFCFC; border-top:1px solid #ddd;*/}
.inputPop .btnUl li {width:49%; text-align: center; padding:10px 0; display:inline-block; color:#666;}
.inputPop .btnUl li.btnLi1{/*border-right:1px solid #DDD;*/}
.inputPop .btnUl li div{ width:90%; border-radius:3px; border:1px solid #eee; margin:0 auto; line-height:30px;background:#f8f8f8; color:#666;}

/* 弹出窗口-下拉选择 */
.selectPop {background:#fff; z-index:21000; position:fixed; width:90%; left:5%;top:100px;}
.selectPop .select_inner_div{ max-height:210px; overflow:auto;}
.selectPop ul li{ border-bottom:1px solid #eee; padding:10px 15px; padding-left:30px;}
.selectPop ul li.current{ background:url(../images/green_tick.png) 8px center no-repeat; background-size:13px;}
.selectPop .cancle_select{background:#fcfcfc;color:#666666;padding-top:10px; padding-bottom:10px;text-align:center; color:#666; border-top:1px solid #dcdcdc;}
.selectPop .noticeTitle2{background:#014d89;padding:10px; padding-left:30px;font-size:14px; color:#fff;}

/** 自定义弹窗  END ~~~~~~~~~~~~~~ **/

.resumelist .resumelist_title{ font-size:16px; color:#333;}
.resumelist dl dt{ margin:0 0 15px; padding:0 0 0 38px;}
.resumelist dl dd{padding-bottom:5px;}
.resumelist dt .mark{position:absolute; padding:3px 10px; left:-3px;
	top:10px; background:#88d316; color:#fff; font-size:12px; /*display:inline-block; width:38px;*/}

textarea.wbsrk_03 {
	height: 80px;
}
 
/* by devleper */
.resume_worklist label {
	color: #999;
}

/* --------------------------顶部栏目tab ---------------------------*/
.tabmenu{
	margin:5px auto;
	}
.tabmenu li{
	float:left;
	display:inline;	
	font-size:16px;
	width:32.4%;
	text-align:center;
	height:30px;
	line-height:30px;
	}
.tabmenu li.tab_left{
	border:#123660 solid 2px;
	border-radius:3px 0px 0px 3px;
	}
.tabmenu li.tab_center{
	border:#123660 solid 2px;
	border-left:none;
	border-right:none;
	}
.tabmenu li.tab_right{
	border:#123660 solid 2px;
	border-radius:0px 3px 3px 0px;
	}
.tabmenu li.tab_on{
	background:#123660;
	}
.tabmenu li a:link,.tabmenu li a:visited{
	color:#c8e1ff;
	}
.tabmenu li a:hover{
	color:#fff;
	}
.tabmenu li.tab_on a:link,.tabmenu li.tab_on a:visited,.tabmenu li.tab_on a:hover{
	color:#fff;
	}
	
	
.text_about{
	padding:10px;
}

.footer2 {
    background:#fff;
    border-top: 1px solid #ddd;
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* --------------------------职位详情修改 2014/07/04--------------------------*/
.detail-article {padding: 7px 15px 20px;background-color: #fff;border-top: 1px solid #dcdcdc;}
.detail-article h2 {font-size: 16px;color: #383838;font-weight: bold;line-height: 24px;}
.detail-article h4 {font-size: 14px;color: #767676;line-height: 24px;font-weight: normal;}
.detail-article .detail-article-title {padding: 5px 0;border-bottom: 1px solid #dcdcdc;}
.detail-article .detail-article-content {padding: 5px 0;}
.detail-article .detail-article-content p{font-size: 14px; color: #555;line-height: 24px;padding: 7px 0 8px 0;word-wrap:break-word;}

.btn_joblist .icon{position:relative;left:-5px; width: 20px;height: 20px;}
.btn_footer .icon{width: 20px;height: 20px;}

.position_title span.hot {
    background: none repeat scroll 0 0 #88d316;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-style: italic;
    padding: 0 5px;
}


.share_div{ background:#fff; height: 160px;}
.share_div1{ height:80px; background:#4a92ff; text-align:center;}
.share_div1 span{ color:#fff; font-size:16px; margin-top:30px; display:inline-block; font:'方正黑体简','微软雅黑';}
.share_div2{ margin:18px auto; width:292px; height:36px; background:url(../images/shareicon.png) no-repeat -115px 0px; background-size:415px;}
.share_div .tab{ display:inline-block; width:55px; height:55px; background:url(../images/shareicon.png) no-repeat; background-size:415px; position:absolute; left:0; top:0;}
.share_div .arrow{ display:inline-block; width:44px; height:85px; background:url(../images/shareicon.png) no-repeat -60px 0px; background-size:415px; position:absolute; right:30px; top:5px;}

/*－－－－－加关注－－－－－－－－－*/
/*.addfollowbox{
	padding:0px 20px;
	background:#fff;
	}*/
.addfollow_title{
	width:100%;
	padding:20px;background:#fff;
	}
.addfollow_title_left{
	width:51px; 
	margin-right:10px; margin-left:5px;
	padding-right:5px;
	font-size:14px;
	text-align:center;
	float:left; margin-left:-100%
	}
.addfollow_title_left img{
	width:50px;
	height:50px;
	border:#dcdcdc solid 1px;
	border-radius:3px;
	}
.addfollow_title_right{
	 width:100%; 
	 float:left; 
	}
	
.addfollow_con{
	width:100%;
	padding:20px;
	}
.icon_checked{
	background-position:-25px -426px;
	}
.addfollow_con dt{
	margin:10px 0px 15px 0px;
	}
.addfollow_con dd{
	line-height:40px;
	}
.addfollowbtn{
	padding:20px;
	}
.addfollowbtn input{	
	font:normal 20px "hiragino Sans GB W3",Geneva, Arial, Helvetica, sans-serif;
	background:#88d316;
	color:#fff;
	border:none;
	width:100%;
	margin:0 auto;
	border-radius:3px;
	height: 40px;
    line-height: 40px;
	}
.addfollowbtn input.addfollowbtn_on{
	/*background:#004d88;*/background:#f39800;
	margin-top:20px;
	}
.tag_options{
	max-height:290px;
	overflow-x:hidden;
	overflow-y: auto; 
}


.br{border-right: 1px solid #60b7f1;}
.bl{border-left: 1px solid #015593;}

.resume_row{
	border: 1px solid #dcdcdc;
	margin: 10px;
	background-color: #fff;
}
.resume_type{
	position: relative;
	background-color: #fff;
	height: 40px;
	line-height: 40px;
}
.resume_row_upload{
	padding: 0 10px;
}
.resume_row_type{
	position: relative;
	z-index: 9;
}
.resume_row_upload .fileupload{
	width: 70%;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}
.resume_row_upload .filebtn{
	float: right;
	display: inline-block;
	width: 25%;
	background-color: #0dca85;
	line-height: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	cursor: pointer;

}
.resume_upload_submit, .resume_create_submit{
	background-color: #1a9bf1;
	margin: 50px 10px 10px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
.resume_detail{

}
.resume_item{
	padding: 5px 0;
	margin: 10px 0;
	border: 1px solid #dad9d9;
	border-width: 1px 0;
	background-color: #fff;
	line-height: 40px;
}
.resume_item .resume_lft{
	display: inline-block;
	padding-left: 10px;	
}
.resume_item_portrait{
	float: left;
	margin: 0 10px 0 10px;
}
.resume_item_inf{
	padding-left: 10px;
	line-height: 26px;
	height: 60px;
}
.resume_item span{
	display: inline-block;
}
.resume_item_ico{
	width: 27px;
	height: 27px;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	margin-right: 5px;
}
.resume_ico_basic{
	background: url(../images/ico_basic.png) no-repeat 0 0;
}
.resume_ico_comm{
	background: url(../images/ico_comm.png) no-repeat 0 0;
}
.resume_ico_edu{
	background: url(../images/ico_edu.png) no-repeat 0 0;
}
.resume_ico_wanted{
	background: url(../images/ico_wanted.png) no-repeat 0 0;
}
.resume_ico_work{
	background: url(../images/ico_work.png) no-repeat 0 0;
}
.resume_item_tit{
	float: left;
	width: 30%;
	max-width: 90px;
}
/*.resume_item_tit > span{
	padding-left: 10px;	
}*/
.resume_item_con{
	float: left;
	width: 65%;
}
.resume_item_add{
	text-align: center;
	line-height: 30px;
	color: #797979;
	border-top: 1px solid #ccc;
	margin: 5px 0;
	padding-top: 5px;
}
.resume_item_add a{
	color: #797979;
}
.resume_item_sign{
	padding: 0 5px;
	vertical-align: middle;
	color: #ca0d0d;
}
.resume_item_menu{
	float: right;
	color: #1a9bf1;
	padding-right: 10px;
}

.resume_item_menu a{
	color: #1a9bf1;
	padding: 0 10px;
}
.resume_item_add span{
	vertical-align: middle;
}
.resume_item_add .plus{
	color: #1a9bf1;
	padding: 0 5px;
	font-weight: bold;
}
.resume_input_txt{
	border: none;
/*	line-height: 40px;*/
	padding: 10px;
	font-size: 14px;
	font-family: "hiragino Sans GB W3",Geneva,Arial,Helvetica,sans-serif;
	color: #666;
}
.resume_item_gender label{
	padding-right: 20px;
}
.resume_gender{
	margin: 0 5px 0  10px;
}
.resume_item_con select{
	background-color: #fff;
	color: #666;
	padding: 10px;
	height: 41px;
	line-height: 21px; 
	width: 90%;
	border: 1px solid #ccc;
	border-radius:0;
	font-size: 14px;
	font-family: "hiragino Sans GB W3",Geneva,Arial,Helvetica,sans-serif;
}
.resume_item_con select option{
	padding: 5px 0 5px 10px;
}
.resume_create_submit{
	background-color: #0dca86;
}